/**************************
GENERAL
**************************/

body {
	font-family:sans-serif;
	color:#010101;
}

/**************************
HEADER
**************************/

header {
	width:100%;
	background-color:#a1a1a1;
	margin:0;
	padding:1px 0;
}

header h1 {
	text-align:center;
	shadow:5px;
}

/**************************
NAVIGATION
**************************/

nav {
	text-align: center;
	margin:5px;
}

nav a {
	text-decoration:none;
	margin:5px;
}

a:link {
	color:black;
}

a:visited {
	color:black;
}

a:hover {
	color: #ff5500;
}



/**************************
GALLERY
**************************/

ul {
	list-style:none;
	margin:0;
	padding:0;
}

ul li {
	width:100%;
	margin:5px 0;
	display:inline-block;
	background-color:#a1a1a1;
}

ul li img {
	max-width:70%;
	max-height:70%;
	float:left;
}

ul li p {
	color:#a1a1a1;
}
