/** GENERAL **/
body {
    font-family:sans-serif;
    color:#CD8181;
}

/**MAIN TITLE**/

#title_main {
    display:block;
    margin:0 auto;
}

/**NAVIGATION**/

#div_nav {
    text-align: center;
}

#div_nav li {
    color:#449999;
    shadow: 2px 2px black;
    cursor:pointer;
    list-style:none;
    display:inline-block;
    margin:0 40px;
    font-size:40px
}

/**PAINT SECTION**/

#table_paint {
    text-align: center;
}

#table_paint img {
    height: 60%;
    width: 60%;
}

/**ABOUT SECTION**/

#div_about_main {
    color: #558899;
    display:block;
    margin:0 auto;
    width:70%;
}